 <header class="masthead" style="background-image: url('/assets/img/{{article.getImage()}}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{article.getTitle()}}</h1>
              <span class="meta">Posted by
                <a href="#">{{article.getAuthor()}}</a>
                le {{article.getCreatedAt()}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
           <p>{{article.getContent()}}</p>
          </div>
        </div>
      </div>
</article>


<div class="container">
  <ul class="row">
    {% for comment in comments %}
      <li class="col-lg-8 col-md-10 mx-auto">
        <p class="comment">{{comment.getContent()}}</p>
        <div class="info-comment">par <a href="#">{{comment.getAuthor().getName()}}</a></span> <span class="comment-date"> le {{comment.getDate()}}</span></div>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <form action="/post/addComment/{{article.getId()}}" method="POST" name="addComment" id="contactForm">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Contenu</label>
            <textarea name="content" rows="5" class="form-control" placeholder="Contenu" id="content" required data-validation-required-message="Please enter a message."></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
